{%extends 'base.html'%}
{%block title%}Blog-Home{%endblock%}
{%block content%}
<div class="home-page container-fluid">
    <h1 class="fs-1 fw-bold p-3 m-2">The Blog</h1>
    <div class="container-fluid">
        <div class="big-tile row border rounded-lg m-4">
            <div>
                <img class="img col-md border rounded-lg border-danger m-0 p-0"
                    src="https://th.bing.com/th/id/OIP.NR70qjnzYQBDxLGrQjsuGwHaHa?pid=ImgDet&rs=1" alt="">
            </div>
            <div class="text col">
                <div class="date row-sm h4">Date/time</div>
                <div class="title row-md h1">Title</div>
                <div class="subtitle row-lg h6"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod,
                    excepturi
                    eius.
                    Eum at quae harum perferendis tempore ipsam. Ratione cumque expedita nisi consequuntur minima
                    aliquam optio itaque consectetur magnam ea!</div>
            </div>
        </div>

    </div>
    <div class="tiles p-0 d-flex flex-row flex-wrap">
        <a class="btn">
            <div class="tile w-auto ">
                <div>
                    <img class="img col-md border rounded-lg border-danger m-0 p-0"
                        src="https://th.bing.com/th/id/OIP.NR70qjnzYQBDxLGrQjsuGwHaHa?pid=ImgDet&rs=1" alt="">
                </div>
                <div class="text col">
                    <div class="date row-sm h4">Date/time</div>
                    <div class="title row-md h1">Title</div>
                    <div class="subtitle row-lg h6"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod,
                        excepturi
                        eius.
                        Eum at quae harum perferendis tempore ipsam. Ratione cumque expedita nisi consequuntur
                        minima
                        aliquam optio itaque consectetur magnam ea!</div>
                </div>

            </div>
        </a>
    </div>
</div>
{%endblock%}